.button {
  background-color: #fcb614;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

table, td {
    border: 3px solid black;
    border-collapse: collapse;
}

table {
    width: 95%;
    table-layout: fixed;
    text-align: center; 
}

#innertable {
    width: 100%;
    table-layout: fixed;
    text-align: center; 
}

td {
    padding-top: 5px;
    padding-bottom: 10px;
}

.bordershidden {
    border-style: hidden;
}

.topborderhidden {
    border-top-style: hidden;
}

#refht {
    word-wrap: break-word;
}


#inviteheader {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: right;
    padding-right: 2%;
}

#inviteinput {
    width:100%;
}

.attention {
    display: block;
    font-size: 1em;
    font-weight: bold; 
}

#third {
    padding-top: -10px;
}

#shareheader {
    font-size: .83em;
    font-weight: bold;
}

@media 
only screen and (max-device-width: 1023px)
{
    table {
        width: 95%;
        border-inline-end: 0px;
    }

    #innertable {
        width: 100%;
        table-layout: fixed;
        text-align: center; 
    }

	td { 
        width: 100%;
        display: block; 
        text-align: center; 
        border-inline-end: 0px !important;
    }

    tr {
        
        text-align: center; 
        
    }

    .nobordermobile {
        border-style: hidden;
        padding-top: 0px;
        padding-bottom: 5px;
        
    }

    #airinput {
        width:20%;
    }

    #inviteheader {
        font-size: 1.17em;
        font-weight: bold;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    #invitetext {
        padding-top: 10px; 
        margin-bottom: 10px;
        text-align: center;
    }
}